.container{
            display: grid;
            grid-template-areas: 
            "header header"
            "main main"
            "footer footer";
            min-height: 90vh;
            grid-template-columns: 10rem 1fr;
            grid-template-rows: 10rem 1fr;
        }
        header{
            grid-area: header;
        }
        aside{
            grid-area: side;
        }
        main{
            grid-area: main;
        }
        footer{
            grid-area: footer;
        }